html {
  scroll-behavior: smooth;
}

:root{
  --primary-color:#122c14;
  --secundary-color: #177527;
  --text-color: #b8e6b3;
  --fundo-header-color: #234120;
}

/* Titulos */

.TituloCentro{
  color: var(--text-color);
  display: flex;
  align-items: center;  
  justify-content: center;  
}

.Titulo{
  margin-top: 200px;
  margin-bottom: 50px;
}

/* Titulos */

body{  
  background-color: var(--primary-color);  
}

body, ul, li, p{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

.header{
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuBar{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-size: 40px;
  position: fixed;  
  height: 9vh;
  padding-top: 10px;
  margin-top: 80px;
  background-color: var(--fundo-header-color);
}

.menu{
  display: flex;
  justify-content: flex-end;
}

.menu li{
  margin-left: 10px;
  font-size: 22px;
  border-radius: 10px;
}

.menu li:hover{
  background-color: var(--secundary-color);
  transition: 1s;
}

a{
  text-decoration: none;
  color: var(--text-color);
}

.menu li a{
  display: block;
  padding: 10px;
}

.home .header .IconNome{
  width: 30%;
  display: flex;
  justify-content: flex-start;
}

.home .header .IconNome a{
  padding-left: 20px;  
}

/* HEADER */

/* Inicio */

.inicio{
  display: flex;
  justify-content: center;
  margin-top: 200px;
  height: 50vh;
}

.TituloInicio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color:var(--text-color);
}

.TituloInicio h1{
  font-size: 100px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.TituloInicio h4{
  font-size: 50px;
}

.IconsTitulo{
  display: flex;
  justify-content: space-around;
  width: 25%;
  font-size: 35px;
}

.IconTitulo{
  color:white;
  width: 25%;
  height: 110%;
  border-radius: 5px;
}

.IconTitulo:hover{
  background-color: var(--secundary-color);  
}

/* Sobre */

.Sobre{
  display: flex;
  justify-content: center;
  color: var(--text-color);
}

.Sobre .ImagemSobre{
  margin-right: 40px;
  
  
}

.Sobre .ImagemSobre .Avatar{
  box-shadow: 5px 5px 50px #77ffc0;
  padding: 0px;
  border-radius: 25px;
}

.Sobre .AreaSobre{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.Sobre .AreaSobre h3{
  margin: 0;
  margin-bottom: 15px;
}


/* Habilidades */

.Habilidades{
  height: 70vh;
  display: flex;  
  justify-content: center;
}

.Habilidades .LadoEsquerdo{
  background-color: aqua;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Habilidades .LadoEsquerdo .ContainerIcon{
  background-color: red;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  width: 70%;
  height: 100%;
}

.Habilidades .LadoEsquerdo .ContainerIcon .AreaIcon{
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Habilidades .LadoEsquerdo .ContainerIcon .AreaIcon .Icon{
  font-size: 100px;  
}

.Habilidades .LadoDireito{
  background-color: blueviolet;
  width: 50%;
  height: 100%;
}



.Habilidades .LadoDireito .DefaultText {
  display: block; /* O texto padrão está visível inicialmente */
}

.LadoEsquerdo .Delphi:hover ~ .LadoEsquerdo .React{
  display: none;
}

.LadoDireito .TextDelphi {
  display: block;
}