html {
  scroll-behavior: smooth;
}

.Responsivo{
  display: none;
}

:root{
  --primary-color:#08eb1b;
  --secundary-color: #177527;
  --text-color: #b8e6b3;
  --fundo-header-color: #234120;
}

/* Titulos */

.TituloCentro{
  color: var(--text-color);
  display: flex;
  align-items: center;  
  justify-content: center;  
}

.Titulo{
  margin-top: 200px;
  margin-bottom: 50px;
  font-size: 40px;
}

/* Titulos */

body{  
  background-color: var(--primary-color);   
}

body, ul, li, p{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Garante que ele possa ser afetado pelo z-index */
  z-index: 1000; 
}

.menuBar{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;  
  font-size: 40px;
  position: fixed;  
  height: 9vh;
  margin-top: 70px;
  background-color: var(--fundo-header-color);
}

.menu{
  display: flex;
  justify-content: space-around;
}

.menu li{
  margin-left: 15px;
  font-size: 22px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2.5rem;
}

.menu li:hover{
  background-color: var(--secundary-color);
  transition: 1s;
}

.menuBar h1{
  font-size: 30px;
}

a, h1{
  text-decoration: none;
  color: var(--text-color);
}

.menu li h1{
  display: block;
  padding: 10px;
}

.home .header .IconNome{
  width: 30%;
  display: flex;
  justify-content: flex-start;
}

.home .header .IconNome a{
  padding-left: 20px;  
}

/* HEADER */

/* Inicio */

.inicio{
  display: flex;
  justify-content: center;
  margin-top: 200px;
  height: 50vh;
}

.TituloInicio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color:var(--text-color);
}

.TituloInicio h1{
  font-size: 100px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.TituloInicio h2{
  font-size: 25px;
}

.IconsTitulo{
  display: flex;
  width: 70%;
  height: 15%;
}

.IconsTitulo a{
  width: 20%;
  margin-right: 20px;
}

.IconTitulo{
  color:white;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.IconTitulo:hover{
  background-color: var(--secundary-color);  
}

/* Sobre */

.Sobre{
  display: flex;
  justify-content: center;
  color: var(--text-color);
}

.Sobre .ImagemSobre{
  margin-right: 40px; 
}

.Sobre .ImagemSobre .Avatar{
  box-shadow: 0px 0px 15px #77ffc0;
  padding: 0px;
  border-radius: 25px;
}

.Sobre .AreaSobre{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.Sobre .AreaSobre h3{
  margin: 0;
  margin-bottom: 15px;
}


/* Habilidades */

.Habilidades{
  height: 70vh;
  display: flex;  
  justify-content: center;
}

.Habilidades .LadoEsquerdo{
  width: 50%;
  height: 100%;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.Habilidades .LadoEsquerdo .ContainerIcon{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  width: 70%;
  height: 100%;
}

.Habilidades .LadoEsquerdo .ContainerIcon .AreaIcon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--fundo-header-color);
  border-radius: 10px;
  color: var(--secundary-color);
  transition: transform 0.3s;
  box-shadow: transparent;
}

.AreaIcon:hover {
  transform: scale(1.3); /* Aumenta o tamanho do ícone em 20% */   
  box-shadow: 0px 0px 15px #77ffc0;    
}

.Habilidades .LadoEsquerdo .ContainerIcon .AreaIcon .Icon{
  font-size: 100px;  
}

.Habilidades .LadoDireito{
  width: 60%;
  height: 100%;
}

.Habilidades .LadoDireito .Text{
  height: 100%;
  color: var(--secundary-color);
  display: none;
}

.Habilidades .LadoDireito .TituloHabilidade{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.Habilidades .LadoDireito .Descricao{
  font-size: 23px;
  width: 95%;
}

/* Habilidade */

/* Trabalhos */

.Trabalho { 
  width: 90vw;
  margin: 0 auto;
}

.Trabalho .Carrosel{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contato */

.Contato .AreaContato{
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
  color: var(--secundary-color);
}

.Contato .AreaContato .InfoContato{
  padding-right: 40px;
}

.Contato .AreaContato .InfoContato h1{
  font-size: 40px;
}

.Contato .AreaContato .InfoContato h3{
  font-size: 25px;
}


/* Responsividade */

@media(max-width: 845px){  

  .Titulo{
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 20px;
  }

  /* HEADER */
  .menu{
    position: absolute;
    top: 8vh;
    right: 0;
    width: 40vw;
    height: 60vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--fundo-header-color);
    transition: 0.3s;
    transform: translateX(100%);
  }

  .menuResponsivo{
    display: block;    
    position: pointer;
  }

  .menu.active{
    transform: translateX(0);
  }

  .menuBar h1{
    font-size: 25px;
  }

  /* HEADER */
  
  /* Inicio */

  .inicio{
    margin-top: 100px;
  }

  .inicio .TituloInicio h1{
    font-size: 50px;
  }

  .inicio .TituloInicio h2{
    font-size: 25px;
  }

  /* Inicio */

  /* SOBRE */
  .Sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Sobre .ImagemSobre{
    margin-right: 0;     
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Sobre .ImagemSobre .Avatar{
    width: 70%;
  }
  
  .Sobre .AreaSobre{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
  }

  .Sobre .AreaSobre h1{
    font-size: 40px;
  }

  .Sobre .AreaSobre h3{
    font-size: 20px;
  }

  /* SOBRE */

  /* Habilidades */

  .Habilidades{
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .Habilidades .LadoEsquerdo{
    width: 100%;
    height: 30%;
    justify-content: center;
  }

  .Habilidades .LadoEsquerdo .ContainerIcon .AreaIcon .Icon{
    font-size: 50px;
  }

  .Habilidades .LadoDireito{    
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
  }

  .Habilidades .LadoDireito .AreaTexto{
    display: flex;
    justify-content: center;
  }

  .Habilidades .LadoDireito .AreaTexto .Text{
    display: flex;
    justify-content: center;    
    width: 80%;
  }

  .Habilidades .LadoDireito .AreaTexto .Text{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Habilidades .LadoDireito .AreaTexto h1{
    font-size: 30px;
  }

  .Habilidades .LadoDireito .AreaTexto h3{
    font-size: 18px;
  }

  /* Habilidades */


  /* Contato */

  .Contato .AreaContato{
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Contato .AreaContato .InfoContato{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;    
  }

  .Contato .AreaContato .InfoContato h1{
    font-size: 20px;
    padding-right: 15px;
  }

  .Contato .AreaContato .InfoContato h3{
    font-size: 15px;
  }
  /* Contato */
}
