.AreaCarrossel{
    width: 50%;
}
.Area h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secundary-color);
}


@media(max-width: 845px){
    .AreaCarrossel{
        width: 90%;
    }

    .Area h1{
        font-size: 1.5rem;
    }

    .Area img{
        max-width: 100%;
        height: auto;
    }
}